<title>FORM ‘G’</title>
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Forwarding Letter</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <!-- BEGIN INTRO -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-primary">FORM G</h2>
            </div><!--end .col -->
            <!--end .col -->
        </div><!--end .row -->
        <div class="card tabs-right style-default-light">
            <div class="card-body tab-content style-default-bright">
                <div class="tab-pane active" id="first6">
                    <div id="maindiv1">
                        <div class="card-body tab-content style-default-bright">
                            <p align="center">Report of Co-operative Inspector</p>
                            <div class="col-lg-12">
                                Name :- The Co-operative Inspector in whose jurisdiction the registered office of the proposed society falls, must forward the application for registration,
                                alongwith his own report in the following forms, to be concerned Assistant Registrar, within 15 days from the date of receipt of the application in his office.
                                <p>&nbsp;</p>
                            </div>
                            <div class="col-lg-6">
                                Name of Proposed Societies:
                                @*@Html.DropDownList("SocietyList", new SelectList(ViewBag.lstSL as System.Collections.IEnumerable, "Value", "Text"),
                                    "Select", new { id = "SocietyList", @class = "form-control", required = "required" })*@
                                <p>&nbsp;</p>
                            </div>
                            <div class="col-lg-12">
                                <table border="1">
                                    <tr>
                                        <td class="col-lg-1">1.</td>
                                        <td class="col-lg-6">Date on which the application for registration was received in your office.</td>
                                        <td>@ViewBag.DateOfSubmissionFormG </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">2.</td>
                                        <td class="col-lg-6">
                                            State whether this application has been received
                                            in your office direct from the promoters or from
                                            the Sub-Inspector, Co-operative Societies or from
                                            the Co-operative Societies or any other office.
                                        </td>
                                        <td class="col-lg-4">
                                            @*<input type="text" class="form-control" id="ModeOfApplicationReceived" name="ModeOfApplicationReceived" required>*@
                                            @ViewBag.ArscAddress
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">3.</td>
                                        <td class="col-lg-6">Name and address of the proposed society.</td>
                                        <td class="col-lg-4">@ViewBag.SocietyFullAddress</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">4.</td>
                                        <td class="col-lg-6">
                                            Has the society been organised by the promoters at their
                                            own initiative or as a result of persuasion by some official?
                                        </td>
                                        <td class="col-lg-4">@ViewBag.SocietyOrganizedByOwnInitiative</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">5.</td>
                                        <td class="col-lg-6">Is the name proposed by the promoters for the society suitable?</td>
                                        <td class="col-lg-4">@ViewBag.NameOfSocietyProposed_Suitable</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">6.</td>
                                        <td class="col-lg-6">Has the society been organised under any specific project or scheme of Government? If so, name that scheme.</td>
                                        <td class="col-lg-4">
                                            @ViewBag.SocietyOrganizedUnderProjectScheme <br />
                                            @ViewBag.SocietyOrganizedUnderProjectScheme_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">7.</td>
                                        <td class="col-lg-6">What are the main objects of the proposed society?</td>
                                        <td class="col-lg-4">@ViewBag.MainObjectsOfProposedSociety</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">8.</td>
                                        <td class="col-lg-6">Are the above objects in consonance with the Co-operative principles?</td>
                                        <td class="col-lg-4">
                                            @ViewBag.ObjectConsonanceWithCooperativePrinciples <br />
                                            @ViewBag.ObjectConsonanceWithCooperativePrinciples_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">9.</td>
                                        <td class="col-lg-6">
                                            Have the Promoters adopted model bye-laws suggested and approved by
                                            Registrar, or have they proposed different bye-laws. If they have
                                            formulated their own bye-laws, have the same been formally approved by the Registrar.
                                        </td>
                                        <td class="col-lg-4">
                                            @ViewBag.AdoptedModalByeLaws <br />
                                            @ViewBag.AdoptedModalByeLaws_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">10.</td>
                                        <td class="col-lg-6">State what, if any, are the deviations from the model bye-laws, in the bye-laws proposed by the promoters.</td>
                                        <td class="col-lg-4">
                                            @ViewBag.DeviationsModalByeLaws_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">11.</td>
                                        <td class="col-lg-6">
                                            Do all the promoter members fulfil the conditions and qualifications of membership as laid
                                            down in the bye-laws of society? Name such members, if any, who do not fulfil the conditions and qualifications of membership.
                                        </td>
                                        <td class="col-lg-4">
                                            @ViewBag.QualificationsMembership <br />
                                            @ViewBag.QualificationsMembership_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">12.</td>
                                        <td class="col-lg-6">State if all the promoter members have a common interest and whether there is scope for success of the proposed society.</td>
                                        <td class="col-lg-4">
                                            @ViewBag.PromoterMembers_CommonInterest <br />
                                            @ViewBag.PromoterMembers_CommonInterest_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">13.</td>
                                        <td class="col-lg-6">Have you verified the correctness of the particulars supplied by promoters under list of membership in form “B” with their---------------</td>
                                        <td class="col-lg-4">@ViewBag.VerifiedFormB</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">14.</td>
                                        <td class="col-lg-6"> Have you checked up that the application is complete in all respects?</td>
                                        <td class="col-lg-4">@ViewBag.CorrectnessAllRespects</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">15.</td>
                                        <td class="col-lg-6">What is the number of promoter members in the proposed society?</td>
                                        <td class="col-lg-4">@ViewBag.NoOfPromoters</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">16.</td>
                                        <td class="col-lg-6">What is the area of the operation of the proposed society?</td>
                                        <td class="col-lg-4">@ViewBag.AreaOfOperation</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">17.</td>
                                        <td class="col-lg-6">What is the total population in the area of operation and state what is scope for further increase in membership?</td>
                                        <td class="col-lg-4">@ViewBag.AreaPopulation</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">18.</td>
                                        <td class="col-lg-6">State number and paid up value of share subscribed by the promoter members.</td>
                                        <td class="col-lg-4">@ViewBag.NumberAndPaidUpValue</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">19.</td>
                                        <td class="col-lg-6">If the above share money or any of its part has been contributed in kind has the same been unanimously accepted by all the promoter members?</td>
                                        <td class="col-lg-4">@ViewBag.ShareInKind</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">20.</td>
                                        <td class="col-lg-6">Have you explained to the promoters the contents of the bye-laws and more particularly their duties and obligations towards society?</td>
                                        <td class="col-lg-4">@ViewBag.ExplanationToPromoters</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">21.</td>
                                        <td class="col-lg-6">Is there any other Co-operative Society (s) with similar aims and objects in the same village or at any other place in the area of operation of the proposed society? If so, give their name and address.</td>
                                        <td class="col-lg-4">
                                            @ViewBag.OtherCoopSocietyWithSameObjects   <br />
                                            @ViewBag.OtherCoopSocietyWithSameObjects_Details
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">22.</td>
                                        <td class="col-lg-6">Why the promoters of the proposed society have not embraced membership in the already existing Co-operative society/societies with the same objects in that area. What are the reasons for organising for the same purpose in that area?</tdclass="col-lg-6">
                                        <td class="col-lg-4">
                                            @ViewBag.ReasonForNotJoining
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">23.</td>
                                        <td class="col-lg-6">Will registration of the proposed society, if any, adversely effect the working of any existing co-operative in that area?</td>
                                        <td class="col-lg-4">
                                            @ViewBag.AdverselyEffectOthers
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-1">24.</td>
                                        <td class="col-lg-6">Concluding remarks and recommendations :-</td>
                                        <td class="col-lg-4">@ViewBag.ConcludingRemark</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="col-lg-6">Note: - The reporting office should mention here all other important points and information that he may like to bring to notice of the registering authority and clearly state whether he recommends the registration of the proposed co-operative society or not )</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                            <br />
                            <div class="col-lg-12">
                                <div class="col-lg-6" style="text-align:left;">
                                    Place
                                </div>
                                <div class="col-lg-6" style="text-align:right;">
                                    Signatures
                                </div>
                                <div class="col-lg-12" style="text-align:right;">
                                    <br />
                                    <br />
                                    <p align="right">
                                        Inspector Co-operative Societies @ViewBag.InspectName<BR />
                                    </p>
                                    <p align="right">
                                        Circle<br />
                                        Date : @ViewBag.DateOfSubmittionByInspector
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end .card -->
    <div class="row">
        <div class="col-lg-6"> 
            <a href="@Url.Action("Report", "Inspector",new {id= "PDF",value="FormG"})" class="btn btn btn-primary" target="_blank">Print & Download</a>
        </div>
        <div class="col-lg-6 text-right">
            @*@using (Html.BeginForm("Export", "Society", FormMethod.Post))
                {
                    <input type="hidden" name="GridHtml1" />
                    <input type="hidden" name="FormName1" />
                    <input class="btn btn btn-primary" type="submit" id="btnSubmit1" value="Export" />
                }*@
            @*<input class="btn btn btn-primary" type="button" value="Download" onclick="demoFromHTML();" />*@
        </div>
        @*<input class="btn btn btn-primary" type="button" value="Download" onclick="demoFromHTML();" />*@
    </div>
</section>
<script type="text/javascript">
    function exportpdf1() {
        $("#maindiv1").print();
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit1").click(function () {
            $("input[name='GridHtml1']").val($("#print-content1").html());
            $("input[name='FormName1']").val("FormG");
        });
    });
</script>
<script type="text/javascript">

    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>

<script language="javascript" type="text/javascript">
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>
<script type="text/javascript" language="Javascript">
    history.go(1);
</script>
<script>
    function demoFromHTML() {
       // debugger;
        var pdf = new jsPDF('p', 'pt', 'letter');
        source = $('#print-content')[0];
        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 550
        };
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },
            function (dispose) {
                pdf.save('FormG.pdf');
            }, margins
        );
    }
</script>
