<title>FORM ‘D’:- Receipt of Cashier</title>
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Receipt of Cashier</li>
        </ol>
    </div>
    <div class="card card-underline">
        <div class="card-body">
            <div class="card tabs-right style-default-light">
                <div class="card-body tab-content style-default-bright">
                    <div class="tab-pane active" id="first6">
                        <div id="print-content">
                            <div class="row">
                                <p class="col-lg-12" align="center">
                                    Form “D”
                                </p>
                                <p class="col-lg-12" align="center">
                                    Receipt of Cashier
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-10">
                                    I @ViewBag.SocietyMemberName
                                    @ViewBag.Relationshipname

                                    @ViewBag.RelationshipMemberName
                                    resident of 
                                    @ViewBag.Address  @ViewBag.HouseNo District
                                    @ViewBag.District

                                    cashier of the @ViewBag.SocietyName
                                    do hereby certify that I have today received on account of:
                                </p>
                                <p class="col-lg-1">
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-10">
                                    (a) Share Money :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x20b9 @ViewBag.ShareMoney
                                    <br />
                                    (b) Admission fee :&nbsp;&nbsp;&nbsp;&#x20b9 @ViewBag.AdmissionFees
                                    <br />
                                    (c) Deposits :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x20b9 @ViewBag.Deposits
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Total :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x20b9 <strong>@ViewBag.Total</strong>
                                </p>
                                <p class="col-lg-1">
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-10">
                                    I undertake that I shall immediately on demand produce the cash in hand with me at all occasions to any
                                    of the persons duly authorized in this behalf under the Haryana Co-operative Societies Act, and Rules
                                    framed thereunder and the bye-laws of the society.
                                </p>
                                <p class="col-lg-1">
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-10">
                                    Signature/Thumb Impression
                                    of the cashier
                                    (Revenue Stamp)
                                    <br />
                                </p>
                                <p class="col-lg-1">
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-5">
                                    <br />
                                    Signature of the witnesses
                                    <br />
                                    1._________________________
                                    <br />
                                    2._________________________
                                </p>
                                <p class="col-lg-4"  align="right">
                                    <br />
                                    Address of the witnesses
                                    <br />
                                    1._________________________
                                    <br />
                                    2._________________________
                                </p>
                                <p class="col-lg-1">
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-5">
                                    Place__________________
                                    <br />
                                    <br />
                                    Date __________________
                                </p>
                                <p class="col-lg-4" align="right">
                                    Countersigned
                                    <br />
                                    <br />
                                    (President)
                                </p>
                                <p class="col-lg-2">
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-lg-1">
                                </p>
                                <p class="col-lg-10">
                                    <br />
                                    <small>(NOTE :- Name and full address of the witnesses should be given. Any two promoter members of the society can act as witness )</small>
                                </p>
                                <p class="col-lg-1">
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end .card -->
            <div class="row">
                <div class="col-lg-6">                
                    <a href="@Url.Action("Report", "Society",new {id= "PDF",value="FormD"})" class="btn btn btn-primary" target="_blank">Print & Download</a>
                </div>
            </div>
        </div>
    </div>
    <!--end .section-body -->
</section>
<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }

    function exportpdf() {
        $("#print-content").print();
    }

    $(document).ready(function () {
        var number1 = parseInt(@ViewBag.SocietyStatus);
        if (number1 != "NaN") {
            if (number1 != 0) {
                $('#message').show();
                $('#ProcedureFee').attr('disabled', 'disabled');
            }
            if (number1 == 0) {
                $('#message').hide();
            }
        }
    });
</script>
<style>
    .text-right.cus-form-bttn {
        margin-top: 25px !important;
    }
</style>
<script>
    function demoFromHTML() {
        //debugger;
        var pdf = new jsPDF('p', 'pt', 'letter');
        source = $('#print-content')[0];
        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 550
        };
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },
            function (dispose) {
                pdf.save('FormD.pdf');
            }, margins
        );
    }
</script>