<title>FORM ‘B’:- Application for Registration of Co-operative Societies</title>
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Registration Form</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <!-- BEGIN INTRO -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-primary">FORM ‘B’</h2>
                <h5>Application for Registration of Co-operative Societies</h5>
            </div><!--end .col -->
            <div class="col-lg-12">
                <article class="margin-bottom-lg">
                    <p class="lead">
                    </p>
                </article>
            </div><!--end .col -->
        </div><!--end .row -->
        @if (ViewBag.result == "1")
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.show
            </div>
        }
        @if (ViewBag.result == "0")
        {
            <div class="alert alert-warning" role="alert">
                @ViewBag.show
            </div>
        }
        <div class="card tabs-right style-default-light">
            <ul id="mytabs" class="card-head nav nav-tabs text-center" data-toggle="tabs">
                <li class="active"><a href="#first6"><i class="fa fa-lg fa-user"></i><br /><h4>Society Details<br /><small>Save Basic Details</small></h4></a></li>
                <li><a href="#second6"><i class="fa fa-lg fa-list-ol"></i><br /><h4>Managing<br /><small>Committee Members</small></h4></a></li>
                <li><a href="#third6"><i class="fa fa-lg fa-plus-square-o"></i><br /><h4>List of Members<br /><small>Details</small></h4></a></li>
            </ul>
            <div class="card-body tab-content style-default-bright">
                <div class="tab-pane active" id="first6">
                    <form class="form form-validate" novalidate="novalidate" action="@Url.Action("Application", "Society", new { value = TempData["Value"]})" accept-charset="utf-8" method="post">
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-md-6 form-group">
                                        @Html.DropDownList("District", new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                        "Select", new { id = "District", @class = "form-control", required = "required" })
                                        <label for="district">1. Select District</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.DropDownList("ARCSOffice", new SelectList(Enumerable.Empty<SelectListItem>(), "ACRSCode", "ACRSName"),
                                        "Select", new { id = "ARCSOffice", @class = "form-control", required = "required" })
                                        <label for="ARCSOffice">2. ARCS Office</label>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="NameofProposedSociety" name="NameofProposedSociety" required>
                                        <label for="NameofProposedSociety">3. Name of Proposed Society</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.DropDownList("ClassofSocietyandLiability", new SelectList(ViewBag.ClassOfSociety as System.Collections.IEnumerable, "Value", "Text"),
                                        "Select", new { id = "ClassofSocietyandLiability", @class = "form-control", required = "required" })
                                        <label for="ClassofSocietyandLiability">4. Class of Society and Liability</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.DropDownList("SubClassOfSociety", new SelectList(Enumerable.Empty<SelectListItem>(), "SocietySubClassCode", "SocietySubClassName"),
                                        "Select", new { id = "SubClassOfSociety", @class = "form-control", required = "required" })
                                        <label for="ARCSOffice">4.1 Sub Class Of Society</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="RegisteredAddress" name="RegisteredAddress" required>
                                        <label for="RegisteredAddress">5. Registered Address</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="HouseNoSectorNoRoad" name="HouseNoSectorNoRoad" required>
                                        <label for="HouseNoSectorNoRoad">5.1 House No. /Sector No. /Road</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="PostOffice" name="PostOffice" required>
                                        <label for="PostOffice">5.2 Post Office</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="PostalCode" name="PostalCode" data-rule-number="true" maxlength="6" pattern="[0-9]{6}" required>
                                        <label for="PostalCode">5.3 Postal Code</label>
                                        <p class="help-block">Five digit zip code</p>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <input type="text" class="form-control" id="AreaofOperation" name="AreaofOperation" required readonly>
                                        <label for="AreaofOperation">6. Area of Operation</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Mainobjects1" name="Mainobject1" required>
                                        <label for="Mainobjects">7. Main objects</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Mainobjects2" name="Mainobject2">
                                        <label for="Mainobjects1">7.1 Main objects</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Mainobjects3" name="Mainobject3">
                                        <label for="Mainobjects2">7.2 Main objects</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Mainobjects4" name="Mainobject4">
                                        <label for="Mainobjects3">7.3 Main objects</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Noofmemberspresent" name="Noofmemberspresent" data-rule-number="true" data-rule-range="[1,100]" maxlength="2" required>
                                        <label for="Noofmemberspresent">8. No of members present</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        @Html.DropDownList("Occupation", new SelectList(ViewBag.Occupations as System.Collections.IEnumerable, "Value", "Text"),
                                        "Select", new { id = "Occupation", @class = "form-control", required = "required" })
                                        <label for="Occupation">9. Select Occupation</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Categoryofsociety" name="Categoryofsociety">
                                        <label for="Categoryofsociety">10. Category of society (if any)</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Estimatedunsecureddebtsofmembers" name="Estimatedunsecureddebtsofmembers">
                                        <label for="Estimatedunsecureddebtsofmembers">11. Estimated unsecured debts of members (in case of credit society)</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="AreaMortgagedbymembers" name="AreaMortgagedbymembers">
                                        <label for="AreaMortgagedbymembers">12. Area Mortgaged by members (in case of credit society)</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="Valueofashare" name="Valueofashare" required>
                                        <label for="Valueofashare">13. Value of a share</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="detailsofshares" name="detailsofshares" required>
                                        <label for="detailsofshares">14. Capital with details of shares, deposits fee etc.</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" id="ModeofPayment" name="ModeofPayment" required>
                                        <label for="ModeofPayment">15. Mode of Payment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 text-center">
                                <button class="btn btn-primary btn-success" id="Step1" type="submit">Save As Draft</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="second6">
                    <button id="btnShowModal" type="button"
                            class="btn btn-primary btn-success">
                        Add Committe Members
                    </button>
                    <div class="modal fade" tabindex="-1" id="loginModal"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                    <h4 class="modal-title">Committe Members</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form form-validate" novalidate="novalidate" action="@Url.Action("Application", "Society", new { SocietyTransId = TempData["SocietyTransId"], value = "membership", Noofmemberspresent = TempData["NoOfCommitteMembers"] })" accept-charset="utf-8" method="post">
                                        <div class="row">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" id="SocietyMemberName" name="SocietyMemberName" required>
                                                        <label for="SocietyMemberName">1. Society Member Name</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        @Html.DropDownList("SocietyMemberDesignation", new SelectList(ViewBag.MemberCommDesignation as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "SocietyMemberDesignation", @class = "form-control", required = "required" })
                                                        <label for="SocietyMemberDesignation">2. Society Member Designation</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" id="RelationshipMemberName" name="RelationshipMemberName" required>
                                                        <label for="RelationshipMemberName">3. Guardian Name</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        @Html.DropDownList("RelationshipCode", new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "RelationshipCode", @class = "form-control", required = "required" })
                                                        <label for="RelationshipCode">3.1 Relationship with Committee Member</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" id="Address" name="Address" required>
                                                        <label for="Address">4. Address</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" id="HouseNo" name="HouseNo" required>
                                                        <label for="HouseNo">4.1 House No.</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" id="SectorStreet" name="SectorStreet{i}" required>
                                                        <label for="SectorStreet">4.2 Sector/Street</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        @Html.DropDownList("District", new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "District", @class = "form-control", required = "required" })
                                                        <label for="District">4.3 District</label>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" data-rule-digits="true" maxlength="10" minlength="10" required>
                                                        <label for="Mobile">5. Mobile</label>
                                                        <p class="help-block">10 digit mobile no</p>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="email" class="form-control" id="Email" name="Email" required>
                                                        <label for="Email">5.1 Email</label>
                                                        <p class="help-block">example@example.com</p>
                                                    </div>
                                                    <div id="divAadharNo" class="col-md-6 form-group">
                                                        <input type="text" class="form-control AadharNo" id="AadharNo" name="AadharNo" data-rule-digits="true" maxlength="12" minlength="12" required>
                                                        <label id="result" for="AadharNo">6. AadharNo</label>
                                                        <p class="help-block">12 aadhar no</p>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <div class="checkbox checkbox-styled">
                                                            <label>
                                                                <input type="checkbox" class="checkbox checkbox-inline checkbox-styled" id="IsPresident" name="IsPresident" onchange="isChecked(this, 'Save')">
                                                                <label for="IsPriesdent"><span>Check any one person’s details for further correspondence</span></label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="col-xs-6 text-center">
                                                    <button class="btn btn-primary btn-success" id="Save" type="submit" disabled="disabled">Save As Draft</button>
                                                    &nbsp;&nbsp;&nbsp; <label class="small info">kindly select persident then button will be enable</label>
                                                </div>*@

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    @*<button type="submit" class="btn btn-primary button button4">Add Member</button>*@
                                    <button class="btn btn-primary btn-success" id="Save" type="submit" disabled="disabled">Add Members</button>
                                    &nbsp;&nbsp;&nbsp; <label class="small info">kindly select persident then button will be enable</label>
                                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                        Hide
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form id="NoOfCommitteMembers" class="form form-validate" novalidate="novalidate" action="@Url.Action("Application", "Society", new { value = "NoOfCommitteMembers", SocietyTransId = TempData["SocietyTransId"], Noofmemberspresent = TempData["Noofmemberspresent"] })" accept-charset="utf-8" method="post">
                        @if (TempData["Noofmemberspresent"] != null)
                        {
                            <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-10 form-group">
                                            <input type="text" class="form-control" id="NoOfCommitteMembers" name="NoOfCommitteMembers" )" data-rule-number="true" title="Only Numbers allowed" required>
                                            <label for="NoOfCommitteMembers">No Of Committe Members</label>
                                        </div>
                                        <div class="col-md-2 col-xs-6 text-center">
                                            <button class="btn btn-primary btn-success" id="AddNoOfCommitteMembers" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                    <form class="form form-validate" novalidate="novalidate" action="@Url.Action("Application", "Society", new { SocietyTransId = TempData["SocietyTransId"], value = "membership", Noofmemberspresent = TempData["NoOfCommitteMembers"] })" accept-charset="utf-8" method="post">
                        <div class="row">
                            @if (TempData["NoOfCommitteMembers"] != null)
                            {
                                var tempval = TempData["NoOfCommitteMembers"];
                                for (var i = 1; i <= Convert.ToInt32(tempval); i++)
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <em class="text-caption">@i. fill member details </em>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"SocietyMemberName{i}")" name="@($"SocietyMemberName{i}")" required>
                                                <label for="SocietyMemberName+@i">1. Society Member Name</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("SocietyMemberDesignation" + i, new SelectList(ViewBag.MemberCommDesignation as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "SocietyMemberDesignation" + i, @class = "form-control", required = "required" })
                                                <label for="SocietyMemberDesignation+@i">2. Society Member Designation</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"RelationshipMemberName{i}")" name="@($"RelationshipMemberName{i}")" required>
                                                <label for="RelationshipMemberName+@i">3. Guardian Name</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("RelationshipCode" + i, new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "RelationshipCode" + i, @class = "form-control", required = "required" })
                                                <label for="RelationshipCode+@i">3.1 Relationship with Committee Member</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"Address{i}")" name="@($"Address{i}")" required>
                                                <label for="Address+@i">4. Address</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"HouseNo{i}")" name="@($"HouseNo{i}")" required>
                                                <label for="HouseNo+@i">4.1 House No.</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"SectorStreet{i}")" name="@($"SectorStreet{i}")" required>
                                                <label for="SectorStreet+@i">4.2 Sector/Street</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("District" + i, new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "District" + i, @class = "form-control", required = "required" })
                                                <label for="District+@i">4.3 District</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"MobileNumber{i}")" name="@($"MobileNumber{i}")" data-rule-digits="true" maxlength="10" minlength="10" required>
                                                <label for="Mobile+@i">5. Mobile</label>
                                                <p class="help-block">10 digit mobile no</p>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="email" class="form-control" id="@($"Email{i}")" name="@($"Email{i}")" required>
                                                <label for="Email+@i">5.1 Email</label>
                                                <p class="help-block">example@example.com</p>
                                            </div>
                                            <div id="divAadharNo" class="col-md-6 form-group">
                                                <input type="text" class="form-control AadharNo" id="@($"AadharNo{i}")" name="@($"AadharNo{i}")" data-rule-digits="true" maxlength="12" minlength="12" required>
                                                <label id="result" for="AadharNo+@i">6. AadharNo</label>
                                                <p class="help-block">12 aadhar no</p>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <div class="checkbox checkbox-styled">
                                                    <label>
                                                        <input type="checkbox" class="checkbox checkbox-inline checkbox-styled" id="@($"IsPresident{i}")" name="@($"IsPresident{i}")" onchange="isChecked(this, 'Save')">
                                                        <label for="IsPriesdent"><span>Check any one person’s details for further correspondence</span></label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-xs-6 text-center">
                                    <button class="btn btn-primary btn-success" id="Save" type="submit" disabled="disabled">Save As Draft</button>
                                    &nbsp;&nbsp;&nbsp; <label class="small info">kindly select persident then button will be enable</label>
                                </div>
                            }
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="third6">
                    <form class="form form-validate" novalidate="novalidate" action="@Url.Action("Application", "Society" , new { SocietyTransId=TempData["SocietyTransId"], value="lstOfMember" , Noofmemberspresent=TempData["Noofmemberspresent"] })" accept-charset="utf-8" method="post">
                        <div class="row">
                            @if (TempData["Noofmemberspresent"] != null)
                            {
                                var tempval = TempData["Noofmemberspresent"];
                                for (var i = 1; i <= Convert.ToInt32(tempval); i++)
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <em class="text-caption">@i. fill member details </em>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"MemberName{i}")" name="@($"MemberName{i}")" required>
                                                <label for="MemberName+@i">1. Member Name</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"FatherName{i}")" name="@($"FatherName{i}")" required>
                                                <label for="FatherName+@i">2. Father Name</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("Gender" + i, new List<SelectListItem>
                                                 { new SelectListItem { Text = "Male", Value = "Male"},
                                                   new SelectListItem { Text = "Female", Value = "Female"},
                                                   new SelectListItem { Text = "Trans Gender", Value = "Trans Gender"}
                                                   }, "Select Gender", new { id = "Gender" + i, @class = "form-control", required = "required" })
                                                <label for="SelectGender+@i">3. Select Gender</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"Age{i}")" name="@($"Age{i}")" required data-rule-range="[18,100]" data-rule-digits="true">
                                                <label for="Age+@i">4. Age</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"MobileNumber{i}")" name="@($"MobileNumber{i}")" data-rule-digits="true" maxlength="10" minlength="10" required>
                                                <label for="Mobile+@i">5. Mobile</label>
                                                <p class="help-block">10 digit mobile no</p>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="email" class="form-control" id="@($"EmailId{i}")" name="@($"EmailId{i}")" required>
                                                <label for="EmailId+@i">6 Email</label>
                                                <p class="help-block">example@example.com</p>
                                            </div>
                                            <div id="divAadharNo1" class="col-md-6 form-group">
                                                <input type="text" class="form-control AadharNo1" id="@($"AadharNo{i}")" name="@($"AadharNo{i}")" data-rule-digits="true" maxlength="12" minlength="12" required>
                                                <label id="result1" for="AadharNo+@i">7. AadharNo</label>
                                                <p class="help-block">12 aadhar no</p>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("Occupationofmembers" + i, new SelectList(ViewBag.Occupations as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "Occupationofmembers" + i, @class = "form-control", required = "required" })
                                                <label for="Occupationofmembers+@i">8. Occupation of members</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"NoofSharesSubscribed{i}")" name="@($"NoofSharesSubscribed{i}")" data-rule-digits="true" required>
                                                <label for="NoofSharesSubscribed+@i">9. No. of Shares Subscribed</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"NameofNominee{i}")" name="@($"NameofNominee{i}")" required>
                                                <label for="NameofNominee+@i">11. Name of Nominee</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"NomineeAge{i}")" name="@($"NomineeAge{i}")" required data-rule-range="[1,100]" data-rule-digits="true">
                                                <label for="NomineeAge+@i">4. Nominee Age</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("RelationshipCode" + i, new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "RelationshipCode" + i, @class = "form-control", required = "required" })
                                                <label for="RelationshipCode+@i">10. Relationship with Nominee</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"RegisteredAddress{i}")" name="@($"RegisteredAddress{i}")" required>
                                                <label for="RegisteredAddress+@i">11. Place of Residence</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"HouseNoSectorNoRoad{i}")" name="@($"HouseNoSectorNoRoad{i}")" required>
                                                <label for="HouseNoSectorNoRoad+@i">11.1 House No. /Sector No. /Road</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"PostOffice{i}")" name="@($"PostOffice{i}")" required>
                                                <label for="PostOffice+@i">11.2 Post Office</label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input type="text" class="form-control" id="@($"PostalCode{i}")" name="@($"PostalCode{i}")" data-rule-number="true" maxlength="6" minlength="6" pattern="[0-9]{6}" data-rule-digits="true" required>
                                                <label for="PostalCode+@i">11.3 Postal Code</label>
                                                <p class="help-block">Five digit zip code</p>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @Html.DropDownList("District" + i, new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "District" + i, @class = "form-control", required = "required" })
                                                <label for="District+@i">11. District</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-xs-6 text-center">
                                    <button class="btn btn-primary btn-success" id="btnFinal" type="submit">Final Submit</button>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div><!--end .card -->
        <em class="text-caption">Application for Registration of Co-operative Societies under Section 3 & 4 of the Haryana Co-operative Societies Act, 1984 and Rule 4 of the Haryana Co-operative Societies Rules, 1989 As the undersigned hereby apply for the registration of a society, as proposed hereunder, under sections 7 and 8(1) (d) of the Act, and enclose herewith three copies of the bye-laws in accordance with Rule 5</em>
    </div><!--end .section-body -->
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });
        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#District").change(function () {
            var dID = $(this).val();
            var e = document.getElementById("District");
            var value = e.options[e.selectedIndex].text;
            $("#AreaofOperation").val(value);
            $.getJSON("/Account/BindARCSOffice", { DistrictCode: dID },
                   function (data) {
                       var select = $("#ARCSOffice");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
        });

        var e = document.getElementById("District");
        var value = e.options[e.selectedIndex].text;
        if (value != "Select") {
            $.getJSON("/Account/BindARCSOffice", { DistrictCode: value },
            function (data) {
                var select = $("#ARCSOffice");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Select"
                }));
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        }
    });

    $(document).ready(function () {
        $("#ClassofSocietyandLiability").change(function () {
            debugger;
            var dID = $(this).val();
            $.getJSON("/Society/BindSubClassOfSociety", { SocietySubClassCode: dID },
                   function (data) {
                       var select = $("#SubClassOfSociety");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
        });
    });

    $(document).ready(function () {
        $('input.checkbox').on('change', function () {
            $('input.checkbox').not(this).prop('checked', false);
        });
    });

    function isChecked(checkbox, sub1) {
        var button = document.getElementById(sub1);
        if (checkbox.checked === true) {
            Save.disabled = "";
            $("#showNotification").hide();
        } else {
            Save.disabled = "disabled";
        }
    }

    function isChecked(checkbox, sub1) {
        Save.disabled = "disabled";
        document.getElementById(sub1).disabled = !checkbox.checked;
    }

    $(document).ready(function () {
        var number = parseInt(@ViewBag.tabResult); //Accessing the number from the ViewBag
        if (number != "NaN") {
            if (number == 0) {
                $('#mytabs a[href="#first6"]').tab('show');
            }
            if (number == 1) {
                $('#mytabs a[href="#second6"]').tab('show');
            }
            if (number == 2) {
                $('#mytabs a[href="#third6"]').tab('show');
            }
        }
    });

    $('.AadharNo').keyup(function () {
        debugger;
        var name = $('.AadharNo').val();
        if (name.length >= 12) {
            var url = "/Society/ValidateAadharCard";
            $.get(url, { input: name }, function (data) {
                if (data == "true") {
                    $('input[type="submit"]').removeAttr('disabled');
                    $('#Save').removeAttr('disabled');
                    $("#result").html("<span style='color:#228B22'>AadharNo is vaild.</span>");
                    $("#divAadharNo").removeClass();
                    $("#divAadharNo").addClass("col-md-6 form-group has-success has-feedback");
                }
                else {
                    $("#result").html("<span style='color:#B22222'>AadharNo is not vaild.</span>");
                    $("#divAadharNo").removeClass();
                    $("#divAadharNo").addClass("col-md-6 form-group has-error has-feedback");
                    $('#Save').attr('disabled', 'disabled');
                }
            });
        }
        else {
            $('#Save').attr('disabled', 'disabled');
        }
    })

    $('.AadharNo1').keyup(function () {
        debugger;
        var name = $('.AadharNo1').val();
        if (name.length >= 12) {
            var url = "/Society/ValidateAadharCard";
            $.get(url, { input: name }, function (data) {
                if (data == "true") {
                    $('input[type="submit"]').removeAttr('disabled');
                    $('#btnFinal').removeAttr('disabled');
                    $("#result1").html("<span style='color:#228B22'>AadharNo is vaild.</span>");
                    $("#divAadharNo1").removeClass();
                    $("#divAadharNo1").addClass("col-md-6 form-group has-success has-feedback");
                }
                else {
                    $("#result1").html("<span style='color:#B22222'>AadharNo is not vaild.</span>");
                    $("#divAadharNo1").removeClass();
                    $("#divAadharNo1").addClass("col-md-6 form-group has-error has-feedback");
                    $('#btnFinal').attr('disabled', 'disabled');
                }
            });
        }
        else {
            $('#btnFinal').attr('disabled', 'disabled');
        }
    })
</script>
