@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>RCS - Registration</title>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="/content/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    @*[if lt IE 9]>
        <script type="text/javascript" src="/content/assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="/content/assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]*@
    <style type="text/css">
        .form-group.captcha-reply {
            margin: 0 !important;
            padding: 0 !important;
        }

        .section.section-account {
            padding: 0 !important;
        }

        .captcha-reply img#CaptchaImage {
            width: 125px;
        }

        .captcha-reply input#CaptchaInputText {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid;
            border-color: rgba(12, 12, 12, 0.12);
        }
    </style>
</head>
<body class="menubar-hoverable header-fixed ">
    <!-- BEGIN LOGIN SECTION -->
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li class="active">Registration Form</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <form class="form form-validate" novalidate="novalidate" action="@Url.Action("Registration", "Account")" accept-charset="utf-8" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="card">
                        <div class="card">
                            <div class="card-head style-primary">
                                <header>Create an account</header>
                            </div>
                            <div class="card-body">
                                <div id="divUserName" class="col-md-12 form-group">
                                    <input type="text" class="form-control" value="" id="UserName" name="UserName" required minlength="5">
                                    <label id="result" for="UserName">1. User Name</label>
                                    <span id="status"></span>
                                </div>
                                <div id="divPassword" class="col-md-6 form-group">
                                    <input type="password" class="form-control" id="Password" name="Password" minlength="8" onkeyup="checkPasswordMatch();" required>
                                    <label id="resultPassword" for="Password">2. Password</label>
                                    <span id="passwordstatus"></span>
                                    @*pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"*@
                                </div>
                                <div id="divConfirmPassword" class="col-md-6 form-group">
                                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" onkeyup="checkPasswordMatch();" required minlength="8">
                                    <label id="divCheckPasswordMatch" for="ConfirmPassword">2.1 Confirm Password</label>
                                    <span id="ConfirmPasswordstatus"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("SecurityQuestions", new SelectList(ViewBag.SecurityQuestions as System.Collections.IEnumerable, "Value", "Text"),
                                        "Select", new { id = "SecurityQuestions", @class = "form-control", required = "required" })
                                    <label for="SecurityQuestions">3. Select Questions</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="Anwser" name="Anwser" required>
                                    <label for="PostOffice">3.2 Anwser</label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head style-primary-light">
                                <header>Personal Details</header>
                            </div>
                            <div class="card-body">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="Name" name="Name" required>
                                    <label for="Name">1. Name</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("Gender", new List<SelectListItem>
                                                 { new SelectListItem { Text = "Male", Value = "Male"},
                                                   new SelectListItem { Text = "Female", Value = "Female"},
                                                   new SelectListItem { Text = "Trans Gender", Value = "Trans Gender"}
                                                   }, "Select Gender", new { id = "Gender", @class = "form-control", required = "required" })
                                    <label for="SelectGender">2. Select Gender</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="Age" name="Age" required data-rule-digits="true">
                                    <label for="Age">3. Age</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="Mobile" name="Mobile" required data-rule-digits="true" maxlength="10" minlength="10">
                                    <label for="Mobile">4. Mobile</label>
                                    <p class="help-block">10 digit mobile no</p>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" id="Email" name="Email" required>
                                    <label for="Email">5. Email</label>
                                    <p class="help-block">example@example.com</p>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="Address" name="Address" required>
                                    <label for="Address">6. Address</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="HouseNoSectorNoRoad" name="HouseNoSectorNoRoad" required>
                                    <label for="HouseNoSectorNoRoad">6.1 House No. /Sector No. /Road</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="PostOffice" name="PostOffice" required>
                                    <label for="PostOffice">6.2 Post Office</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" data-rule-number="true" maxlength="6" pattern="[0-9]{6}" required>
                                    <label for="PostalCode">6.3 Postal Code</label>
                                    <p class="help-block">Six digit zip code</p>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("District", new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                        "Select", new { id = "District", @class = "form-control", required = "required" })
                                    <label for="district">6.4 Select District</label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-head style-primary-bright">
                                <header>Area of Operation Details</header>
                            </div>
                            <div class="card-body">
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("SocietyStatus", new List<SelectListItem>
                                                 { new SelectListItem { Text = "New Registeration", Value = "New Registeration"},
                                                   new SelectListItem { Text = "Already Exist", Value = "Already Exist"},
                                                   }, "Select", new { id = "SocietyStatus", @class = "form-control", required = "required" })
                                    <label for="SocietyStatus">1. Society Status</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="SocietyRegisteredNo" name="SocietyRegisteredNo" data-rule-number="true" title="not required for new registration" placeholder="not required for new registration" disabled="disabled" maxlength="16" minlength="16">
                                    <label for="SocietyRegisteredNo">1.2 Society Registered No</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("DistrictOfOperation", new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                        "Select", new { id = "DistrictOfOperation", @class = "form-control", required = "required" })
                                    <label for="DistrictOfOperation">2. Select District</label>
                                </div>
                                <div class="col-md-6 form-group">
                                    @Html.DropDownList("ARCSOffice", new SelectList(Enumerable.Empty<SelectListItem>(), "ACRSCode", "ACRSName"),
                                        "Select", new { id = "ARCSOffice", @class = "form-control", required = "required" })
                                    <label for="ARCSOffice">2.1 ARCS Office</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <button id="btnSubmit" type="submit" class="btn btn-flat btn-primary ink-reaction">Create account</button>
                                <em id="info" class="text-caption"></em>
                            </div>
                        </div>
                    </div>
                </div>
            </form><!--end .card -->
        </div><!--end .section-body -->
    </section>
    <!-- END LOGIN SECTION -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="/content/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/content/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/content/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="/content/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="/content/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/content/assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/content/assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/content/assets/js/core/source/App.js"></script>
    <script src="/content/assets/js/core/source/AppNavigation.js"></script>
    <script src="/content/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="/content/assets/js/core/source/AppCard.js"></script>
    <script src="/content/assets/js/core/source/AppForm.js"></script>
    <script src="/content/assets/js/core/source/AppNavSearch.js"></script>
    <script src="/content/assets/js/core/source/AppVendor.js"></script>
    <script src="/content/assets/js/core/demo/Demo.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- END JAVASCRIPT -->
    <script type="text/jscript">
        $("#SocietyStatus").change(function () {
            var SocietyStatus = $(this).val();
            if (SocietyStatus == "Already Exist") {
                $("#SocietyRegisteredNo").removeAttr('disabled')
                $('#SocietyRegisteredNo').attr('required', 'required');
                $("#SocietyRegisteredNo").removeAttr('placeholder');
                $('#SocietyRegisteredNo').attr('placeholder', "enter society registation no.");
            }
            else {
                $('#SocietyRegisteredNo').attr('disabled', 'disabled');
                $('#SocietyRegisteredNo').removeAttr('required');
                $("#SocietyRegisteredNo").addClass("form-control");
                $("#SocietyRegisteredNo").removeAttr('placeholder');
                $('#SocietyRegisteredNo').attr('placeholder', "not required for new registration.");
            }
        });

        $('#UserName').keyup(function () {
            var name = $('#UserName').val();
            if (name.length >= 5) {
                var url = "/Account/CheckUserName";
                $.get(url, { input: name }, function (data) {
                    if (data == "Available") {
                        $("#result").html("<span style='color:#228B22'>user name is available</span>");
                        $("#UserName").css('background-color', '');
                        document.getElementById("btnSubmit").disabled = false;
                        $("#info").html("<span></span>");
                        $("#divUserName").addClass("form-group has-success has-feedback");
                        $("#status").addClass("glyphicon glyphicon-ok form-control-feedback");
                    }
                    else {
                        $("#result").html("<span style='color:#B22222'>user name already taken.</span>");
                        //$("#UserName").css('background-color', '#e97878');
                        document.getElementById("btnSubmit").disabled = true;
                        $("#info").html("<span style='color:#B22222'>create button disable because username doesn't exit, kindly choose another user name</span>");
                        $("#divUserName").removeClass();
                        $("#divUserName").addClass("form-group has-error has-feedback");
                        $("#status").removeClass();
                    }
                });
            }
            else {
                $("#status").removeClass();
                $("#divUserName").removeClass();
                $("#divUserName").addClass("form-group has-error has-feedback");
                $("#result").html("<span style='color:#0aa89e'>User Name</span>");
            }
        })

        function checkPasswordMatch() {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmPassword").val();
            var ConfirmPasswordLength = $("#ConfirmPassword").val().length;
            var PasswordLength = $("#Password").val().length;
            if (password == confirmPassword & ConfirmPasswordLength >= 8 & PasswordLength >= 8) {
                $("#divCheckPasswordMatch").html("<span style='color:#228B22'>Password match.</span>");
                $("#resultPassword").html("<span style='color:#228B22'>Password match.</span>");
                document.getElementById("btnSubmit").disabled = false;
                $("#info").html("<span></span>");
                $("#divPassword").addClass("col-md-6 form-group has-success has-feedback");
                $("#passwordstatus").addClass("glyphicon glyphicon-ok form-control-feedback");
                $("#divConfirmPassword").addClass("col-md-6 form-group has-success has-feedback");
                $("#ConfirmPasswordstatus").addClass("glyphicon glyphicon-ok form-control-feedback");
            }
            else {
                if (ConfirmPasswordLength >= 8 & PasswordLength >= 8) {
                    $("#divCheckPasswordMatch").html("<span style='color:#B22222'>Passwords do not match!</span>");
                    $("#resultPassword").html("<span style='color:#B22222'>Passwords do not match!</span>");
                    document.getElementById("btnSubmit").disabled = true;
                    $("#info").html("<span style='color:#B22222'>create button disable because password not matched.</span>");
                    $("#divPassword").removeClass();
                    $("#divPassword").addClass("col-md-6 form-group has-error has-feedback");
                    $("#passwordstatus").removeClass();
                    $("#divConfirmPassword").removeClass();
                    $("#divConfirmPassword").addClass("col-md-6 form-group has-error has-feedback");
                    $("#ConfirmPasswordstatus").removeClass();
                }
                else {
                    document.getElementById("btnSubmit").disabled = true;
                    $("#divCheckPasswordMatch").html("<span style='color:#B22222'>Passwords do not match!</span>");
                    $("#resultPassword").html("<span style='color:#B22222'>Passwords do not match!</span>");
                    $("#info").html("<span style='color:#B22222'>password should be 8 char long</span>");
                    $("#divPassword").removeClass();
                    $("#divPassword").addClass("col-md-6 form-group has-error has-feedback");
                    $("#passwordstatus").removeClass();
                    $("#divConfirmPassword").removeClass();
                    $("#divConfirmPassword").addClass("col-md-6 form-group has-error has-feedback");
                    $("#ConfirmPasswordstatus").removeClass();
                }
            }
        }
        
        $("#DistrictOfOperation").change(function () {
                var dID = $(this).val();
                $.getJSON("/Society/BindARCSOffice", { DistrictCode: dID },
                       function (data) {
                           var select = $("#ARCSOffice");
                           select.empty();
                           select.append($('<option/>', {
                               value: 0,
                               text: "Select"
                           }));
                           $.each(data, function (index, itemData) {
                               select.append($('<option/>', {
                                   value: itemData.Value,
                                   text: itemData.Text
                               }));
                           });
                       });
        });
    </script>
</body>
</html>
