<style>
    #dvLoading {
        background: #000 url('../../images/giphy.gif') no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>
<div class="tools row">
    <div class="col-lg-6 text-left"><a id="BackToCommitteMembers" class="btn btn-flat hidden-xs" href="#"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Step 2</a></div>
    <div class="col-lg-6 text-right"><a id="NextToFormC" class="btn btn-flat hidden-xs" href="#"><span class="glyphicon glyphicon-arrow-right"></span> &nbsp;Step 4</a></div>
</div>
<div id="dvLoading" style="display:none"></div>
<div class="row">
    <div class="col-lg-8">
        <div class="col-lg-4 alert alert-warning" role="alert">
            Add Maximum Members:- @Convert.ToInt32(Session["NoOfMembers"])
        </div>
        @{
                        var first = Convert.ToString(Convert.ToInt32(Session["NoOfMembers"]));
                        var second = Convert.ToString(Convert.ToInt32(Session["AddedMember"]));
                        if (string.IsNullOrEmpty(first))
                        {
                            first = "0";
                        }
                        if (string.IsNullOrEmpty(second))
                        {
                            second = "0";
                        }
                        var SocietyTransID = Convert.ToString(Session["SocietyTransID"]);
                        if (string.IsNullOrEmpty(SocietyTransID))
                        {
                <div class="col-lg-4 alert alert-success" role="alert">
                    Total Add Members:- 0
                </div>
            }
            else
            {
                <div class="col-lg-4 alert alert-success" role="alert" id="div1">
                </div>
            }
         }
    </div>
    <div class="col-lg-4 text-right">
        <button id="AddMemberDetails" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" onclick="clearTextBox();">Add Member Details</button><br /><br />
    </div>
</div>
<div class="col-xs-12 text-right">
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="#print-content" class="table no-margin">
                    <thead>
                        <tr>
                            <th hidden="hidden">
                                ID
                            </th>
                            <th>
                                S.No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Member Name
                            </th>
                            <th>
                                Father Name
                            </th>
                            <th>
                                Mobile
                            </th>
                            <th>
                                Nominee Name
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody1"></tbody>
                </table>
            </div><!--end .table-responsive -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</div>
<div class="modal fade cus-modal-div" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Members Details</h4>
            </div>
            <div class="modal-body">
                <form class="form form-validate" novalidate="novalidate" accept-charset="utf-8" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-6 form-group">
                                @*<input type="file" name="files_10" id="files_10" class="form-control" onchange="validationForMemberImage(this)" />*@
                                <input type="file" name="files_10" id="files_10" required class="form-control" onchange="validationForMemberImage(this);" />
                                <label for="MemberName">1. Member Photo <span style="color:red;"><strong>*</strong></span></label>
                                <p class="help-block">maximum photo size should be 150 kb</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <img id="img" height="100">
                                <p id="b64" hidden="hidden"></p>
                                <label for="MemberName">1.1 Member Photo</label>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="hidden" class="form-control" id="MemberSNo" name="MemberSNo">
                                <input pattern="[a-zA-Z0-9\s]+" type="text" autocomplete="off" class="form-control" id="MemberName" name="MemberName" required>
                                <label for="MemberName">1.2 Member Name <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input pattern="[a-zA-Z0-9\s]+" type="text" autocomplete="off" class="form-control" id="FatherName" name="FatherName" required>
                                <label for="FatherName">2. Guardian's/ Father's /Husband's Name <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("ManagingMemberRelationship", new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "ManagingMemberRelationship", @class = "form-control", required = "required" })
                                <label for="ManagingMemberRelationship">3. Relationship With Member <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("GenderOfSocietyMember", new List<SelectListItem>
                                                 { new SelectListItem { Text = "Male", Value = "Male"},
                                                   new SelectListItem { Text = "Female", Value = "Female"},
                                                   new SelectListItem { Text = "Trans Gender", Value = "Trans Gender"}
                                                   }, "Select Gender", new { id = "GenderOfSocietyMember", @class = "form-control", required = "required" })
                                <label for="SelectGender">4. Select Gender <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" autocomplete="off" id="datepicker" name="datepicker" readonly>
                                <label for="datepicker">5. Date of Birth</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" autocomplete="off" id="Age" name="Age" required data-rule-range="[18,100]" data-rule-digits="true">
                                <label for="Age">6. Age <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" autocomplete="off" id="MobileNumberOfSocietyMember" name="MobileNumberOfSocietyMember" data-rule-digits="true" maxlength="10" minlength="10" required>
                                <label for="Mobile">7. Mobile <span style="color:red;"><strong>*</strong></span></label>
                                <p class="help-block">10 digit mobile no</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" autocomplete="off" id="EmailId" name="EmailId">
                                <label for="EmailId">8. Email</label>
                                <p class="help-block">example@example.com</p>
                            </div>
                            <div id="divAadharNo1" class="col-md-6 form-group">
                                <input type="text" class="form-control AadharNo1" autocomplete="off" id="AadharNo1" name="AadharNo1" onkeydown="AllowNumbersOnly(event,this)" data-rule-digits="true" maxlength="12" minlength="12">
                                <label id="result1" for="AadharNo"> 9. Aadhar No</label>
                                <p class="help-block">12 aadhar no</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <input pattern="[a-zA-Z0-9\s]+" type="text" class="form-control" autocomplete="off" id="OccupationOfMember" name="OccupationOfMember" required>
                                @*@Html.DropDownList("OccupationOfMember", new SelectList(ViewBag.Occupations as System.Collections.IEnumerable, "Value", "Text"),
            "Select", new { id = "OccupationOfMember", @class = "form-control", required = "required" })*@
                                <label for="Occupationofmembers">10. Occupation of members <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" autocomplete="off" id="NoofSharesSubscribed" name="NoofSharesSubscribed" data-rule-digits="true" required>
                                <label for="NoofSharesSubscribed">11. No. of Shares Subscribed <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input pattern="[a-zA-Z0-9\s]+" type="text" class="form-control" autocomplete="off" id="NameofNominee" name="NameofNominee" required>
                                <label for="NameofNominee">12. Name of Nominee <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" autocomplete="off" id="NomineeAge" name="NomineeAge" required data-rule-range="[1,100]" data-rule-digits="true">
                                <label for="NomineeAge">13. Nominee Age <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("RelationshipCodeOfSocietyMember", new SelectList(ViewBag.Relationship as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "RelationshipCodeOfSocietyMember", @class = "form-control", required = "required" })
                                <label for="RelationshipCode">14. Relationship with Nominee <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input pattern="[a-zA-Z0-9/(),.-\s]+" type="text" class="form-control" autocomplete="off" id="Address1" name="Address1" required>
                                <label for="RegisteredAddress">15. Registered Address  <span style="color:red;"><strong>*</strong></span></label>
                                <p class="help-block"> (For Ex. House No. /Sector No. /Road)</p>
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.DropDownList("DistrictOfMember", new SelectList(ViewBag.District as System.Collections.IEnumerable, "Value", "Text"),
                                                     "Select", new { id = "DistrictOfMember", @class = "form-control", required = "required" })
                                <label for="District">15.1 District <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input pattern="[a-zA-Z0-9/(),.-\s]+" type="text" class="form-control" autocomplete="off" id="PostOfficeOfSocietyMember" name="PostOfficeOfSocietyMember" required>
                                <label for="PostOffice">15.2 Post Office <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" autocomplete="off" id="PostalCodeOfSocietyMember" name="PostalCodeOfSocietyMember" onkeydown="AllowNumbersOnly(event,this)" data-rule-number="true" maxlength="6" minlength="6" pattern="[0-9]{6}" data-rule-digits="true" required>
                                <label for="PostalCode">15.3 Postal Code <span style="color:red;"><strong>*</strong></span></label>
                                <p class="help-block">Six digit zip code</p>
                            </div>
                            <div class="col-md-6 form-group">
                                <input pattern="[a-zA-Z0-9/(),.-\s]+" type="text" class="form-control" autocomplete="off" id="Address2" name="Address2" required>
                                <label for="HouseNoSectorNoRoad">15.4 LandMark <span style="color:red;"><strong>*</strong></span></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd1" onclick="return Add();">Add</button>
                            <button type="button" class="btn btn-primary" id="btnUpdate1" style="display:none;" onclick="Update();">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .cus-modal-div .modal-dialog {
        width: 70% !important;
    }
</style>
<script>
    $(document).ready(function () {
        var f1 = @first;
        var f2 = @second;
        if(f1==f2 && f1>"0" && f2>"0")
        {
            $('#AddMemberDetails').hide();
        }
    });
    $('#AddMemberDetails').click(function () {
            $("#result1").html("<span style='color:#333'>9. AadharNo</span>");
    });
    function validationForMemberImage(abc) {
        var id = abc.id;
        $formData = new FormData();
        var selectedFile = document.getElementById(id).files;
        //Check File is not Empty
        var a = abc.files[0].size / 1024;
        if (a <= 150) {
            if (selectedFile.length > 0) {
                var re = /(\.png)$/i;
                var re1 = /(\.jpeg)$/i;
                var re2 = /(\.jpg)$/i;
                var fname = (document.getElementById(id).value).substring(12);
                if (re.exec(fname) || re1.exec(fname) || re2.exec(fname)) {
                    if (abc.files && abc.files[0]) {
                        var fr = new FileReader();
                        fr.addEventListener("load", function (e) {
                            if (window.FormData !== undefined) {
                                var fileUpload = $("#files_10").get(0);
                                var files = fileUpload.files;
                                // Create FormData object
                                var fileData = new FormData();
                                // Looping over all files and add it to FormData object
                                for (var i = 0; i < files.length; i++) {
                                    fileData.append(files[i].name, files[i]);
                                }
                                // Adding one more key to FormData object
                                $.ajax({
                                    url: '/Society/ImageSave',
                                    type: "POST",
                                    contentType: false, // Not to set any content header
                                    processData: false, // Not to process data
                                    data: fileData,
                                    success: function (imagepath) {                                       
                                        $("#img").attr("src", imagepath);
                                    },
                                    error: function (err) {
                                        alert(err.statusText);
                                    }
                                });
                            } else {
                                alert("FormData is not supported.");
                            }
                        });
                        fr.readAsDataURL(abc.files[0]);
                    }
                }
                else {
                    document.getElementById(id).value = null;
                    alert("file not supported! kindly select png or jpeg file only");
                }
            }
        }
        else {
            document.getElementById(id).value = null;
            alert("file size should not exceed 150 kb");
        }
    }
</script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '-100:+0',
                dateFormat: 'dd-mm-yy',
                showOn: 'focus',
                showButtonPanel: true,
                closeText: 'Clear', // Text to show for "close" button
                onClose: function () {
                    var event = arguments.callee.caller.caller.arguments[0];
                    // If "Clear" gets clicked, then really clear it
                    if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                        $(this).val('');
                    }
                }
            });
        });
    });
</script>