<script src="/Content/assets/js/libs/jquery/md5.js"></script>

<section>   
    <div class="row">
        <div class="col-lg-12">
            @if (ViewBag.ShowGrid != null)
            {

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>
                                            Serial No.
                                        </th>
                                        <th>
                                            Name of Society
                                        </th>
                                        <th>
                                            Registration No.
                                        </th>
                                        <th>

                                            Date of Registration
                                        </th>
                                        <th>
                                            Functional / Under winding up
                                        </th>
                                    </tr>
                                </thead>
                                @{int RowNo = 0;
                                    var i = 1;
                                }
                                @foreach (var item in ViewBag.ShowGrid)
                                {

                                    <tbody>
                                        <tr>
                                            <td>@{RowNo++;} @RowNo</td>
                                            <td>@item.SocietyName</td>
                                            <td>@item.OldRedgNo</td>
                                            <td>@item.CreateDate1</td>
                                            <td>@item.FunctionalorWinding</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div><!--end .table-responsive -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    <strong>Hi..</strong> No Record Found Yet.
                </div>
            }
        </div>
        @{
            if (ViewBag.ShowGrid != null)
            {
                if (ViewBag.TotalCount != 0)
                {
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Generate Credentials" id="btnSubmit" />
                    </div>
                }
                else
                {
                    <div class="col-md-12 form-group" style="text-align:center">
                        <label style="text-align:center;font-size:medium;" for="Dateofapplication"> User Name and Password for uploaded records has been already generated<br />
                        Try Again With New Excel Records <a href="@Url.Action("UploadExcel", "ARCS" )"><span class="title" style="color:darkblue">Upload Excel File</span></a></label>
                    </div>

                }

            }
        }
    </div>
   <input type="hidden" id="getUname" />
   <input type="hidden" id="getPname" />
   <div id="wait" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><img src='~/images/giphy.gif' width="120" height="170" /><br>Loading..</div> 
</section>

<script>
    $("#btnSubmit").click(function(){
        GenerateData();
    });

    function GenerateData() {
        $("#wait").css("display", "block");
        var i = 1;
        $.ajax({
            url: "/ARCS/GetPasswordList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var url = "/Account/CheckUserName";
                var html = '';

                $.each(result.getRecord, function (key, item) {
                    html += '<tr>';
                    $.get(url, { input: item.UserName }, function (data) {
                            var url = "/Account/GetUserNameEncrpted";
                            $.get(url, function (data) {
                                $('#getUname').val(hex_hmac_md5(data, item.UserName));
                                $('#getPname').val(hex_hmac_md5(data, item.Password));
                                var _encryptedDetail = {
                                    //dob: $('#datepicker').val(),
                                    encryptUserName: $('#getUname').val(),
                                    encryptPwd: $('#getPname').val(),
                                    RegNo: item.OldRedgNo
                                };
                                 $.ajax({
                                        url: "/ARCS/SaveGenerateDetail",
                                        data: JSON.stringify(_encryptedDetail),
                                        type: "POST",
                                        contentType: "application/json;charset=utf-8",
                                        dataType: "json",
                                        success: function (result) {
                                            i = i + 1;
                                            //debugger;
                                            if (result == 1) {
                                            }
                                            else
                                            {
                                                html += '<td>' + item.OldRedgNo + '</td>';
                                                html += '<td>' + item.SocietyName + '</td>';
                                                html += '</tr>';
                                            }
                                            if (i == '@ViewBag.TotalCount')
                                            {
                                                $("#wait").css("display", "none");
                                                alert("Credentials has been Successfully Generated ")
                                             window.location.href = '@Url.Action("ListPassword", "ARCS")';
                                             }

                                        },

                                    });
                            });
                            //if ($('#getUname').val() != null && $('#getUname').val() != "")
                            //{
                            //    if ($('#getPname').val() != null && $('#getPname').val() != "")
                            //    {

                            //    }
                            //}
                            //var dataToSend = [{ encryptUserName: $('#getUname').val(), encryptPwd: $('#getPname').val(), RegNo: item.OldRedgNo }];
                            //dataToSend = JSON.stringify({ 'list': dataToSend });
                            //$.ajax({
                            //    contentType: 'application/json; charset=utf-8',
                            //    dataType: 'json',
                            //    type: 'POST',
                            //    url: '/ARCS/SaveGenerateDetail',
                            //    data: dataToSend,
                            //    success: function (data) {

                            //    },
                            //});
                    });
                }),
                 //alert(html)
                $('.tbody3').html(html);
            },
        });

    }
</script>


@*<script>
    //$(document).ready(function () {
    //    $('#mytable tr').each(function () {
    //        var customerId = $(this).find('#userName+1').html();
    //        alert(customerId);
    //    });
    $(document).ready(function () {
    $("#btnSubmit").click(function () {  
        var rowNum = 1; 
        var id = "#userName+" + rowNum;     
        debugger;
        //var name = $(id).attr("value");
        var name2 = $(id).html();
        var name22 = $('#userName+1').val();             
        alert(name);
            if (name.length >= 5) {
                var url = "/Account/CheckUserName";
                $.get(url, { input: name }, function (data) {
                    if (data != "Not Available") {                       
                        var url = "/Account/GetUserNameEncrpted";
                        $.get(url, function (data) {
                            $(id).val(hex_hmac_md5(data, name));
                        });
                        alert(id)
                    }
                    //else {
                    //    $("#result").html("<span style='color:#B22222'>user name already taken.</span>");
                    //    document.getElementById("btnSubmit").disabled = true;
                    //    $("#info").html("<span style='color:#B22222'>create button disable because username doesn't exit, kindly choose another user name</span>");
                    //    $("#divUserName").removeClass();
                    //    $("#divUserName").addClass("form-group has-error has-feedback");
                    //    $("#status").removeClass();
                    //}
                });
            }
            else {
                $("#status").removeClass();
                $("#divUserName").removeClass();
                $("#divUserName").addClass("form-group has-error has-feedback");
                $("#result").html("<span style='color:#0aa89e'>User Name</span>");
            }
        
        });
    });
</script>*@