<script src="~/scripts/js/ListOfManagingCommitteeMembersForOfficers.js"></script>
@Model
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Approved Society</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="card tabs-left style-default-light">
            <!-- BEGIN SEARCH BAR -->

            <section>
                <div class="section-header">
                    <ol class="breadcrumb">
                        <li class="active">Import Excel</li>
                    </ol>
                </div>
                <div class="section-body contain-lg">
                    <h4>@ViewBag.Result</h4>
                    @using (Html.BeginForm("UploadExcel", "ARCS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*@Html.TextBoxFor(m => m.file, new { type = "file" })
                            <button id="submitButton" type="submit">Submit</button>
                            @Html.ValidationMessageFor(model => model.file)*@

                        <input type="file" name="postedFile" id="files_10" class="form-control"  />
                        <br />
                        <br />
                        <input type="submit" value="Import" id="clicked" class="btn btn-primary" />
                        @*<a href="javascript:;" class="btn btn btn-primary" id="clicked">Submit</a>*@
                    }
                </div>
            </section>

        </div>
        <div class="row">
            <div class="col-lg-12">
                @if (ViewBag.ShowGrid != null)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th>
                                                Society Name
                                            </th>
                                            <th>
                                                Old Reg. No
                                            </th>
                                            <th>
                                                Created Date
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tbody>

                                            <tr>
                                                <td>@item.SocietyName</td>
                                                <td>@item.OldRedgNo</td>
                                                <td>@item.CreateDate</td>
                                                <td>@item.status</td>
                                            </tr>

                                        </tbody>
                                    }
                                </table>
                            </div><!--end .table-responsive -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                }
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //debugger;       
        if('@ViewBag.ISnotValid'=='Yes')
        {
            alert("Kindly choose Excel File only");
        }
        if('@ViewBag.ISnotValid'=='No')
        {
            alert("Please select Excel file First");
        }
        if ('@ViewBag.ISnotValid' == 'NPF') {
            alert("Excel file is not in proper format");
        }

        ValidationView
          });
</script>
